@import url("https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap");

* {
  font-family: "TASA Orbiter", sans-serif;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
}

img {
  width: 75px;
  height: 75px;
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
}
